
@{
    ViewBag.Title = "LoginHata";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="jumbotron">
    <h1 class="display-4">Login İşlemi Başarısız !!!</h1>
    <hr class="my-4">
    <p>Böyle bir kullanıcı adı ve ya şifre bulunamadı...</p>
    <a class="btn btn-primary btn-lg" href="/Login/LoginOl">Login</a>
</div>