
@{
    ViewBag.Title = "Melidya Northwind Projesi";
    Layout = "~/Views/Shared/_Layout.cshtml";
}



<h2>Hoşgeldiniz</h2>
<p>Projemiz northwind tabanlıdır ve programın kaynak kodu kolay okunabilirlik kurallarının resmen içinden geçmektedir</p>