
@model Melidya.AdminUI.Models.LoginModel
@{
	Layout = "~/Views/Shared/_Layout.cshtml";

}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
		login View
      @using (Html.BeginForm("Login", "Login", FormMethod.Post))
	  {
		  <br />
		  @Html.TextBoxFor(m=> m.username)
		  <br />
		  @Html.TextBoxFor(m=> m.password)
		  <br />
		  <input class="btn btn-danger" type="submit" value="Giriş"/>
	  }
    </div>
</body>
</html>
