@using Melidya.DAL
@model List<Product>

@{
    ViewBag.Title = "getProducts";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<link rel="stylesheet" type="text/css" href="products.css">
<br />
<br />
<div class="container">

    <div class="row">
        @foreach (var item in Model)
        {
            <div class="col-md-3 table-bordered">
                <figure class="card card-product">
                    <div class="img-wrap">
                        <img src="~/Content/images/iphone.jpg" width="150" height="200" />
                        <a class="btn-overlay" href="#"><i class="fa fa-search-plus"></i></a>
                    </div>
                    <figcaption class="info-wrap">
                        <h3 class="title text-dots" style=" height:40px;"><a href="#">@item.ProductName</a></h3>
                        <div class="action-wrap">
                            <a href="/Cart/addToCart/@item.ProductID" class="btn btn-primary btn-sm" style="float:right"> Add to Cart </a>
                            <div class="price-wrap h3">
                                <span class="price-new">@item.UnitPrice $</span>
                            </div>
                        </div>
                    </figcaption>
                </figure>
            </div>

        }

    </div>
</div>