@using Melidya.ENTITY
@model List<Product>
@{
    ViewBag.Title = "Products";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        @foreach (Product item in Model)
        {
            <div class="card col-lg-3" style="width: 50rem; border:dashed;border-color:pink">
                <img src="~/images/indir.jpg" class="card-img-top;" />
                <div class="card-body">
                    <h5 class="card-title">@item.ProductName</h5>
                    <p class="card-text">@item.UnitPrice</p>
                    <a href="/Product/AddSepet/@item.ProductID" class="btn btn-primary">Sepete Ekle</a>
                </div>
            </div>
        }

    </div>


</div>

