@using Melidya.DAL
@model List<Category>

@{
    ViewBag.Title = "getCategories";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<link href="~/Content/Category.css" rel="stylesheet" />
<script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<!------ Include the above in your HEAD tag ---------->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<br />
<br />
@Html.ActionLink("New Category", "addCategory")
<br />
<br />
<table class="table">
    <thead>
        <tr>
            <th scope="col">Category ID</th>
            <th scope="col">Category Name</th>
        </tr>
    </thead>
    <tbody>
        @foreach (Category item in Model)
        {
            <tr>
                <th scope="row">@item.CategoryID</th>
                <td>@item.CategoryName</td>
                 <td>@Html.ActionLink("Add Product", "addProduct", new { id = item.CategoryID })</td>
            </tr>
        }
    </tbody>
</table>